{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}

<!--LISTA-->
<div class="container-fluid text-center p-5">

    <table class="table border bg-light" id="tabla_pedido">

        <thead class="bg-warning">
            <tr>
                <th>ID</th>
                <th>Codigo de barra</th>
                <th>Nombre</th>
                <th>Precio de compra</th>
                <th>Precio de venta</th>
                <th>Stock</th>
                <th>Stock critico</th>
                <th>Descripcion</th>
                <th>Fecha de vencimiento</th>
                <th>Tipo producto</th>
                <th>Familia producto</th>
                <th>Proveedor</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <form action="" method="POST">
            {% csrf_token %}
            {% for p in productos %}
            <tr>
                <th name="id" value="{{ p.0 }}">{{ p.0 }}</th>
                <th>{{ p.6 }}</th>
                <th>{{ p.1 }}</th>
                <th>{{ p.2 }}</th>
                <th>{{ p.3 }}</th>
                <th>{{ p.4 }}</th>
                <th>{{ p.5 }}</th>
                <th>{{ p.7 }}</th>
                <th>{{ p.8 }}</th>
                <th>{{ p.9 }}</th>
                <th>{{ p.10 }}</th>
                <th>{{ p.11 }}</th>
                <th>{{ p.12 }}</th>
                <th>
                    <button type="submit" class="btn-sm btn-success btn-lg btn-block" name="modificar">Modificar</button>
                </th>
            </tr>
        </form>
        {% endfor %}

    </table>

</div>
<!--FIN LISTA-->


<!--MODIFICAR-->
<div class="container-fluid bg-light rounded">
    <div class="row">

        <!-- div de "separacion" -->
        <div class="col-sm-4"></div>

        <!-- inicio columna -->
        <div class="col-sm-4 p-4 bg-light rounded">

            <!-- inputs productos -->
            <div class="border p-4 mb-3 text-center rounded">

                <img class="mb-3" style="width: 20rem;" src="{% static 'core/img/AGREGAR PRODUCTO.png' %}">

                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text">Nombre: </span>
                        </div>
                        <input type="text" name="nombre" class="form-control">
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text">Precio de compra: </span>
                        </div>
                        <input type="number" name="precio_c" class="form-control">
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text">Precio de venta: </span>
                        </div>
                        <input type="number" name="precio_v" class="form-control">
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text">Stock: </span>
                        </div>
                        <input type="number" name="stock" class="form-control">
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text">Stock critico: </span>
                        </div>
                        <input type="number" name="stock_c" class="form-control">
                    </div>

                    <div class="input-group mb-3 input-group-sm">
                        <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Unidad de medida: </label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01" name="cboumedida">
                        <option selected>Seleccione...</option>
                        {% for m in medidas %}
                        <option value="{{ m.0 }}">{{ m.1 }}</option>
                        {% endfor %}
                        </select>
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text">Descripción: </span>
                        </div>
                        <input type="text" name="desc" class="form-control">
                    </div>

                    <div class="input-group mb-3 input-group-sm">
                        <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Proveedor: </label>
                        </div>
                        <select class="custom-select" id="cboproveedor" name="cboproveedor">
                        <option value="">Seleccione...</option>
                        {% for p in proveedores %}
                        <option value="{{ p.0 }}">{{ p.1 }}</option>
                        {% endfor %}
                        </select>
                    </div>

                    <div class="input-group mb-3 input-group-sm">
                        <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Familias de producto: </label>
                        </div>
                        <select class="custom-select" id="cbofamilia" name="cbofamilia" onchange="cambiarTipos()">
                        <option value="">Seleccione...</option>
                        {% for f in familias %}
                        <option value="{{ f.0 }}">{{ f.1 }}</option>
                        {% endfor %}
                        </select>
                    </div>

                    <div class="input-group mb-3 input-group-sm">
                        <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Tipo de producto: </label>
                        </div>
                        <select class="custom-select" id="cbotipo" name="cbotipo">
                            <option value="">Seleccione...</option>
                        </select>
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text">Fecha de vencimiento: </span>
                        </div>
                        <input type="date" name="fecha_v" class="form-control">
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <input type="file" class="custom-file-input" id="customFileLang" lang="Es" name="imagen">
                        <label class="custom-file-label" for="customFileLang">Seleccione imagen...</label>
                    </div>

                    <div class="mb-3 text-right">
                    <button class="btn-warning btn-sm" type="reset">Limpiar</button>
                    <button class="btn-warning btn-sm" type="submit" name="guardar">Guardar cambios</button>
                    </div>

                    {{ mensaje }}

                </form>

            </div>
            <!-- fin inputs productos -->

        <!-- div de "separacion" -->
        <div class="col-sm-2"></div>

    </div>
</div>
<!-- fin fila 2 -->
</div>
<!--FIN MODIFICAR-->

{% endblock %}

{% block javascript %}
<script src="{% static 'core/js/tipos.js' %}"></script>

<script>
    function cambiarTipos() {
        let familiaId = document.getElementById("cbofamilia").value;
        let url = '/tipos/?familiaid='+familiaId;
        fetch(url)
        .then(function(result) {
            return result.text();
        })
        .then(function(result){
            document.getElementById('cbotipo').innerHTML = result;
        })

    }
</script>
{% endblock %}